body {
  margin: 0 auto;
  width: 80%;
}

.heading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 0;
}

.back-btn {
  background: black;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 16px;
}

img {
  width: 75%;
}